*{
    padding: 0;
    margin: 0;
}

.img-logo{
    width:50px;
    height: auto;
}

section{
    height: 100vh;
    
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    flex-wrap: wrap;
    gap: 2vw;
    background-image: url("/assects/1094236.jpg");
    background-repeat: no-repeat;
    background-size: cover;